.bg_gradient{
  padding-top: 40%;
  margin-bottom: 20px;
  background-color: #50B584;
  background-image: linear-gradient(145deg,#e7e879 0%,#50b584 80%);
}
.color-stop {
  height: 100px;
  background-color: red;
  background-image:
    linear-gradient(
      to right,
      red,
      yellow 10%
    );
}

.columns-bg{
  height: 100px;
  background-image:
    linear-gradient(
      to right,
      #E65E50,
      #E65E50 15%,
      #FAC339 15%,
      #FAC339 85%,
      #4ABEB2 85%
    );
}

.radial-bg{
  padding-top:40%;
  margin-bottom: 20px;
  background-color: #50B584;
  background-image: radial-gradient(#e7e879,#50b584);
}

.repeat {
  width: 100px;
  height: 100px;
  background-image:
    repeating-linear-gradient(
      45deg,
      yellow,
      yellow 10px,
      red 10px,
      red 20px /* determines size */
    );
}
