<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Google Photos</title>
    <link rel="stylesheet" href="../normalize.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
<!--     <div class="fav-list">
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
      <div class="img-item"><i></i><img src="" alt=""></div>
    </div> -->

  <section>
    <!-- ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="photo-103450229.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="photo-108273877.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="photo-115203323.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="photo-23583825.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-123942383.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-124559545.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-132046989.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-132118343.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-132311221.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-132586903.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-135203031.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-135626379.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-136947953.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-138378295.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-138436811.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-142950305.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-143046061.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-143181649.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-144530143.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-144730939.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-145414771.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-146038669.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-146231033.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-146914861.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-147877407.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-147969173.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-148015373.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-148704233.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-148928293.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-148950715.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-21951271.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-21964829.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-22618399.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-31201539.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-34598868.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-47252094.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-51980510.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-55601508.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-65681789.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-70461471.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-71801901.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-71913567.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-72223295.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-72620185.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-74402039.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-75097491.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-75186237.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-79250373.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-79692589.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-7979718.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-7980252.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-81390687.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-81988949.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs --><div ng-repeat="img in imgs" class="ng-scope">
      <img src="stock-photo-83149705.jpg" alt="">
    </div><!-- end ngRepeat: img in imgs -->
  </section>

</body>

</html>
