body,html {
  width: 100%;
  height: 100%;
}
body, div, span{
  box-sizing:border-box;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-flex-shrink:0;
      -ms-flex-negative:0;
          flex-shrink:0;
  -webkit-box-align:stretch;
  -webkit-align-items:stretch;
      -ms-flex-align:stretch;
          align-items:stretch;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  border: 0 solid black;
  margin: 0;
  padding: 0;
}
body{
  background-color: #1F1E34;
  color:#FFF;
  font-family: "Avenir Next",
      "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
      Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1{
  font-size:64px;
  font-weight: 100;
}

a{
  font-weight: 400;
  color:#FFF;
}

a:hover{
  text-decoration: none;
   color: #DADADA;
}

.section{
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
}

.row{
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -webkit-flex-direction:row;
      -ms-flex-direction:row;
          flex-direction:row;
}

.col{
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
      -ms-flex-direction:column;
          flex-direction:column;
}

.nav{
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
}

.nav a{
  padding: 16px;
}
