*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.bk-list {
    list-style: none;
    position: relative;
    width: 553px;
    margin-bottom: 100px;
    padding: 0;
    -webkit-perspective: 1800px;
    perspective: 1800px;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
  }
.bk-list > li{
  position: relative;
  width: 40px;
  height: 400px;
  flex-shrink: 1;
  margin-right: 1px;
}
.bk-list li:last-child {
  margin-right: 0;
}
.bk-book {
  position: absolute;
  width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .5s;
  transition: transform .5s;
  -webkit-transform: rotate3d(0,1,0,90deg);
  transform: rotate3d(0,1,0,90deg);
}
.bk-book:hover {
  -webkit-transform: rotateY(90deg) rotateZ(-15deg) translate3d(-100px,0,0);
  transform: rotateY(90deg) rotateZ(-15deg) translate3d(-100px,0,0);
}
.bk-book > div,
.bk-list li .bk-front > div {
  display: block;
  position: absolute;
}

.bk-front {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform .5s;
  transition: transform .5s;
  -webkit-transform: translate3d(0,0,20px);
  transform: translate3d(0,0,20px);
}

.bk-list li .bk-front > div {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.bk-list li .bk-page {
  -webkit-transform: translate3d(0,0,19px);
  transform: translate3d(0,0,19px);
  display: none;
  width: 295px;
  height: 390px;
  top: 5px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.bk-list li .bk-front,
.bk-list li .bk-back,
.bk-list li .bk-front > div {
  width: 300px;
  height: 400px;
  z-index: 1;
}

.bk-list li .bk-left,
.bk-list li .bk-right {
  width: 40px;
  left: -20px;
}

.bk-list li .bk-top,
.bk-list li .bk-bottom {
  width: 295px;
  height: 40px;
  top: -15px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bk-list li .bk-back {
  -webkit-transform: rotate3d(0,1,0,-180deg) translate3d(0,0,20px);
  transform: rotate3d(0,1,0,-180deg) translate3d(0,0,20px);
  border-radius: 3px 0 0 3px;
}

.bk-list li .bk-cover-back {
  background-color: #000;
  -webkit-transform: rotate3d(0,1,0,-179deg);
  transform: rotate3d(0,1,0,-179deg);
}

.bk-list li .bk-right {
  height: 390px;
  top: 5px;
  -webkit-transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
  transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bk-list li .bk-left {
  height: 400px;
  -webkit-transform: rotate3d(0,1,0,-90deg);
  transform: rotate3d(0,1,0,-90deg);
  box-shadow:
    inset 4px 0 5px rgba(255,255,255,0.1),
    inset 5px 0 5px rgba(0,0,0,0.05),
    inset -5px 0 5px rgba(0,0,0,0.04);;
}

.bk-list li .bk-top {
  -webkit-transform: rotate3d(1,0,0,90deg);
  transform: rotate3d(1,0,0,90deg);
}

.bk-list li .bk-bottom {
  -webkit-transform: rotate3d(1,0,0,-90deg) translate3d(0,0,390px);
  transform: rotate3d(1,0,0,-90deg) translate3d(0,0,390px);
}
/* Transform classes */

.bk-list li .bk-viewinside .bk-front {
  -webkit-transform: translate3d(0,0,20px) rotate3d(0,1,0,-160deg);
  transform: translate3d(0,0,20px) rotate3d(0,1,0,-160deg);
}

.bk-list li .bk-book.bk-viewinside {
  -webkit-transform: rotate3d(0,1,0,0deg) translateX(0px) translateZ(100px) !important;
  transform: rotate3d(0,1,0,0deg) translateX(0px) translateZ(100px) !important;
}

.bk-list li .bk-book.bk-outside {
  -webkit-transform: rotate3d(0,1,0,90deg) translateX(-300px);
  transform: rotate3d(0,1,0,90deg) translateX(-300px);
}

.bk-list li .bk-book.bk-viewback {
  -webkit-transform: translate3d(0,0,0px) rotate3d(0,1,0,180deg);
  transform: translate3d(0,0,0px) rotate3d(0,1,0,180deg);
}
.bk-list li .bk-page,
.bk-list li .bk-right,
.bk-list li .bk-top,
.bk-list li .bk-bottom {
  background-color: #fff;
}

.bk-list li .bk-front > div {
  border-radius: 0 3px 3px 0;
  box-shadow:
    inset 4px 0 10px rgba(0, 0, 0, 0.1);
}
.bk-left h2 {
  width: 400px;
  height: 40px;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(90deg) translateY(-40px);
  transform: rotate(90deg) translateY(-40px);
}

/* Book 1 */
.book-1 .bk-front > div,
.book-1 .bk-back,
.book-1 .bk-left,
.book-1 .bk-front:after {
  background-color: #ff924a;
}

.book-1 .bk-cover h2 {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 30px;
  background: rgba(255,255,255,0.2);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
}

.book-1 .bk-cover h2 span:first-child,
.book-1 .bk-left h2 span:first-child {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  padding-right: 20px;
}

.book-1 .bk-cover h2 span:first-child {
  display: block;
}

.book-1 .bk-cover h2 span:last-child,
.book-1 .bk-left h2 span:last-child {
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

.book-1 .bk-content p {
  font-family: Georgia, Times, "Times New Roman", serif;
}

.book-1 .bk-left h2 {
  color: #fff;
  font-size: 15px;
  line-height: 40px;
  padding-right: 10px;
  text-align: right;
}

.book-1 .bk-back p {
  color: #fff;
  font-size: 13px;
  padding: 40px;
  text-align: center;
  font-weight: 700;
}

.cuber-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
  margin-bottom: 100px;
  perspective:1000px;
  /*border: 1px solid #000;*/
}

.cuber {
  position: absolute;
  width: 100%;
  height: 100%;
  /*transform: rotate3d(0,1,0,132deg);*/
  transform-style: preserve-3d;
  transition: transform .5s;
  z-index: 1;
  transform-origin: 50% 50%;
  animation: cuber 15s infinite linear;
}

.cuber > div {
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  background: hsla(60,3%,17%, 0.8);
  /*border: 2px solid hsla(0,0%,100%,.15);*/
  border: 2px solid #071013;
  /*background-color: #2D2D2A;*/
  z-index: 1;
}
.cb-front {
  transform-origin: 0% 50%;
  -webkit-transform: translate3d(0,0,150px);
  transform: translate3d(0,0,150px);
}

.cb-back {
  -webkit-transform: rotate3d(0,1,0,-180deg) translate3d(0,0,150px);
  transform: rotate3d(0,1,0,-180deg) translate3d(0,0,150px);
}

.cb-top {
  transform: rotate3d(1,0,0,90deg) translate3d(0,0,150px);
}

.cb-bottom {
  transform: rotate3d(1,0,0,-90deg) translate3d(0,0,150px);
}
.cb-left {
  transform: rotate3d(0,1,0,-90deg) translate3d(0,0,-150px);
}
.cb-right {
  transform: rotate3d(0,1,0,90deg) translate3d(0,0,-150px);
}

@keyframes cuber {
  from {
    transform: scale(0.1) rotateX(0);
  }

  50% {
    transform: scale(1) rotateX(180deg);
  }

  to {
    transform: scale(0.2) rotateY(90deg);
  }
}

