* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html,body{
    height: 100%;
}
body {
    padding: 0;
}


.home__slides{
  height: 100%;
  position: relative;
}
.home__slides ul, .home__slides ul li {
    height: 100%;
    z-index: 2;
}
.home__slides ul li:first-child {
    opacity: 1;
}
.home__slides .banner-img {
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
    width: 100%;
    background-position: center center;
}
