/*Montserrat font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);
/*basic reset*/
*{
  box-sizing:border-box;
}
body {margin: 0;text-align: center; overflow: hidden;}
.container{
  padding: 1em;
}
@media(min-width: 768px){
  .container{
    width: 600px;
    margin: 0 auto;
  }
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.grid {
  width: 100%; margin: 100px auto 50px auto;
  perspective: 500px; /*For 3d*/
}
.grid img {width: 10%; display: block; float: left;}

.animate {
  font: 12px Montserrat; text-transform: uppercase;
  background: rgb(0, 100, 0); color: white;
  padding: 10px 20px; border-radius: 5px;
  cursor: pointer;
}
.animate:hover {background: rgb(0, 75, 0);}
