body{
  margin:0;
  font-family:sans-serif;
  -webkit-font-smoothing: antialiased;
  color:#727272;
}
* {
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.app-wrap{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
      -ms-flex-direction:column;
          flex-direction:column;
  height: 100vh;
}

.content{
  -webkit-box-flex:1;
  -webkit-flex-grow:1;
  -ms-flex-positive:1;
  flex-grow:1;
}

.app-footer{
  border-top: 1px solid #e6e6e6;
  background-color:#3f51b5;
  height:70px;
  -webkit-flex-shrink:0;
  -ms-flex-negative:0;
  flex-shrink:0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.app-footer a{
  -webkit-box-flex:1;
  -webkit-flex-grow:1;
  -ms-flex-positive:1;
  flex-grow:1;
  text-align: center;
  color:rgba(0,0,0,0.5);
  padding: 12px;
  border-left: 1px solid rgba(0,0,0,0.2);
}

.app-footer a:first-child{
  border-left: 0;
}

.app-footer i{
  display: block;
  color:#fff;
  font-size: 25px;
  padding-bottom: 10px;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}
