* {
  box-sizing: border-box;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

p{
  font-size: .95em;
  margin-bottom: 1.8em;
}

h2,
h3,
a {
  color:#093a58;
}

h2,
h3 {
  margin-top: 0;
}

.graphic{
  margin:30px auto;
  width: 20%;
}
