body {
  margin: 0;
  position: relative;
  background: #EEE;
  font-family: sans-serif;
}
.keyboard__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.keyboard__key {
  display: block;
  height: 100px;
  width: 12.5%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  line-height: 100px;
  font-family: sans-serif;
  font-size: 30px;
  margin: 5px;
  border-radius: 5px;
  background: white;
}

@media(max-width: 600px){
  .keyboard__key {
    height: 60px;
    line-height:60px;
  }
}
.keyboard__key.is-down {
  background: #09F;
  color: white;
}
